<script src="https://kit.fontawesome.com/4710dd3a67.js"></script>
<!--! Horrible donde deje este codigo de js de fontawesome pero nose porque en la parte de resultados no aparecia el icono de login-->
<!--? Lo que me permite esto es mostrorlarlo inevitablemente en todos los headers-->
    <body>
  
    <!-- HEADER -->
    <header>
      <!-- IZQUIERA -->
      <div class="izquierda_header">
        <!-- logo -->
        <a class="a_logo" href="/"><img class="logo" src="/images/serieedd.png" alt=""></a>
        <!-- Hiperviculos -->
        <input type="checkbox" id="nav-toggle" class="nav-toggle" name="" value="">
        <nav id="hamburguesa">
          <ul>
            <li><a href="/">Inicio</a></li>
            <li class="descubrir"><a href="">Descubrir</a></li>
            <li><a href="/generos">Genero</a></li>
            <li><a href="/resenias">Reseñas</a></li>
          </ul>
        </nav>
  
        <label for="nav-toggle" class="nav-toggle-label">
          <span> <i class="fas fa-bars"></i></span>
        </label>
      </div>
  
      <!-- DERECHA-->
      <div class="derecha_header">
        <!-- buscador -->
        <nav  class="uk-navbar-container" uk-navbar>
          <div class="conenedor_buscador">
            <form class="uk-search uk-search-navbar" action="/resultados" method="get" name="busqued">
              <span  id="SpanBusqueda" uk-search-icon></span>
              <input class="uk-search-input" type="search" placeholder="Search" name="busqueda" >
            </form>
          </div>
        </nav>
        <!-- MODAL Avanzada-->
        <a id="avanzada" href="#modal-avan" uk-toggle>Avanzada</a>
        <div id="modal-avan" uk-modal>
          <div id="modal_avanzada" class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">Ingrese su búsqueda</h2>
            <form class="avana" action="/avanzado" method="get">
              <label for="generos">Elige el género que deseas buscar:</label>
              <select class="incluir" name="incluir">
                <option value="">Ninguno</option>
                <!-- api generos -->
              </select>
  
              <label  for="">Género que desea excluir</label>
              <select class="excluir" name="excluir">
                <option value="">Ninguno</option>
                <!-- api generos -->
              </select>
  
              <label for="">Órden de resultados:</label>
              <select class="orden" name="orden">
                <option value="vote_average.desc">Mayor cantidad de votos</option>
                <option value="popularity.desc">Popularidad</option>
                <option value="first_air_date.desc">Primera vez al aire</option>
              </select>
  
              <label for="año">Año de estreno:</label>
              <input type="number" name="año" value="" placeholder="2019">
  
              <button class="uk-button uk-button-default uk-modal-close" type="Cancel">Cancelar</button>
              <button class="uk-button uk-button-primary" type="Search">Buscar</button>
            </form>
          </div>
        </div>
  
        <!-- MOdal del usuario ESTO SE AGREGO SOLO A LA PARTE DE GENEROS ASI QUE TENGO QUE HACER UN PARTIAS PARA EL HEADER SOLO -->
        <!-- <a id="corazón" href="/favoritos"><img src="/images/corazon.png" alt=""> </a> -->
          <!--! Esto es para que salga de la session-->
          <% if(usuarioLogeado) { %>
            <a href="/login" id="avanzada" uk-toggle>Mis resenas</a>
            <a href="/logout"    uk-toggle><i id="boton-logout" class="fas fa-sign-in-alt fa-2x" aria-hidden="true"></i></a>
          <% } else{ %>
          <a id="login" href="#modal-login" uk-toggle> <i class="fas fa-sign-in-alt fa-2x"></i> </a>
          <!-- Estoy haciendo un modal para el Log In-->
          <div id="modal-login" uk-modal>
          <!-- El id se lo copie al modal de registro asi tienen el mismo estilo-->
            <div id="modal_usuario" class="uk-modal-dialog uk-modal-body uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport> 
                <div class="uk-container">
                  <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
                    <div class="uk-width-1-1@m">
                      <div class="uk-margin uk-width-large uk-margin-auto uk-box-shadow-large">
                      <h3 class="uk-modal-title uk-text-center" style="color: white;">Bienvenido de vuelta!</h3>

                      <form action="/login" method="POST" name="formulario">
                        <% if (typeof erroreslogin != "undefined") { %>
                          <script>
                            window.addEventListener("load", function() {
                                  document.getElementById("login").click()
                            })
                       </script>
                          
                          <ul style="color:red">
                              <% for (let i = 0; i < erroreslogin.length; i++) { %>
                                  <li>
                                      <%=erroreslogin[i]%>
                                  </li>
                              <% } %>
                          </ul>
                        
                      <% }%>
                        <div class="uk-margin">
                          <div class="uk-inline uk-width-1-1">
                            <span class="uk-form-icon" uk-icon="icon:mail"></span>
                            <input class="uk-input uk-form-large" name="emaillogin" type="email">
                          </div>
                        </div>
                        <div class="uk-margin">
                          <div class="uk-inline uk-width-1-1">
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            <input class="uk-input uk-form-large" name="passwordlogin" type="password">	
                          </div>
                        </div>
                        <br>
                        <div style="display: flex;">
                          <label for="">Recordame</label>
                          <input type="checkbox" style="width: 10%;height: 1.5vw;"name="recordame" id="">
                        </div>
            
                        <div class="uk-margin">
                          <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Login</button>
                        </div>
                        <div class="uk-text-small uk-text-center">
                          No estas registrado? <a href="#modal-usuario" uk-toggle>Create una cuenta</a>
                        </div>
                      </form>
                  </div>
                </div>
              </div>
              </div>
        </div>
      </div>
        <a id="a_usuario" href="#modal-usuario" uk-toggle><img src="/images/usuario.png" alt=""> </a>
        <!-- ESTO LO TENIA ANTES PARA EL LOG IN CON LOCAL STORAGE-->
        <!-- <div class="logedIn">
          <p id="p_nombre"></p>
          <button id="logOut"type="button" name="button">Log Out</button>
        </div>--><!-- <form class="LogIn" action="/index" method="get">  -->
        <div id="modal-usuario" uk-modal>
          <div id="modal_usuario" class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">Ingrese sus datos</h2>
          <div class="card-body">
              <form action="/resultados/errores" method="POST" name="formulario">
                
                <% if (typeof erroresregistracion != "undefined") { %>
                  <script>
                    window.addEventListener("load", function() {
                          document.getElementById("a_usuario").click()
                    })
                    </script>
                  
                  <ul style="color:red">
                      <% for (let i = 0; i < erroresregistracion.length; i++) { %>
                          <li>
                              <%=erroresregistracion[i]%>
                          </li>
                      <% } %>
                  </ul>
                
              <% }%>
                  
              <div>
                  <input type="text" name="fullname" placeholder="Full Name" class="form-control">
              </div>
              <div>
                  <input type="text" name="username" placeholder="Username" class="form-control">
              </div>
              <div>
                  <input type="email" name="email" placeholder="Email" class="form-control">
              </div>
              <div>
                  <input type="password" name="password" placeholder="Password" class="form-control">
              </div>
              <label for="generos">Genero Favorito</label>
              <select class="generofav" name="genero_id">
                <!-- api generos -->
              </select>
              <div>
                <input type="text" name="serie_favorita" placeholder="Tienes alguna serie favorita?" class="form-control">
            </div>
            <div>
              <label for="birthday">Birth Day:</label>
              <input type="date" name="birthday"
              value="2000-05-22"
              min="1900-01-01" max="2002-06-08">
            </div>
              <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="Cancel">Cancelar</button>
                <button class="uk-button uk-button-primary" type="submit">Sign Up</button>
              </p>
          </form>
          </div>
      </div>
  </div>
  <% } %>
    </header>