    <body>
  
    <!-- HEADER -->
    <header>
      <!-- IZQUIERA -->
      <div class="izquierda_header">
        <!-- logo -->
        <a class="a_logo" href="/"><img class="logo" src="/images/serieedd.png" alt=""></a>
        <!-- Hiperviculos -->
        <input type="checkbox" id="nav-toggle" class="nav-toggle" name="" value="">
        <nav id="hamburguesa">
          <ul>
            <li><a href="/">Inicio</a></li>
            <li class="descubrir"><a href="">Descubrir</a></li>
            <li><a href="/generos">Genero</a></li>
          </ul>
        </nav>
  
        <label for="nav-toggle" class="nav-toggle-label">
          <span> <i class="fas fa-bars"></i></span>
        </label>
      </div>
  
      <!-- DERECHA-->
      <div class="derecha_header">
        <!-- buscador -->
        <nav class="uk-navbar-container" uk-navbar>
          <div class="conenedor_buscador">
            <form class="uk-search uk-search-navbar" action="/resultados" method="get">
              <span id="SpanBusqueda" uk-search-icon></span>
              <input class="uk-search-input" type="search" placeholder="Search" name="busqueda">
            </form>
          </div>
        </nav>
        <!-- MODAL Avanzada-->
        <a id="avanzada" href="#modal-avan" uk-toggle>Avanzada</a>
        <div id="modal-avan" uk-modal>
          <div id="modal_avanzada" class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">Ingrese su búsqueda</h2>
            <form class="avana" action="/avanzado" method="get">
              <label for="generos">Elige el género que deseas buscar:</label>
              <select class="incluir" name="incluir">
                <option value="">Ninguno</option>
                <!-- api generos -->
              </select>
  
              <label for="">Género que desea excluir</label>
              <select class="excluir" name="excluir">
                <option value="">Ninguno</option>
                <!-- api generos -->
              </select>
  
              <label for="">Órden de resultados:</label>
              <select class="orden" name="orden">
                <option value="vote_average.desc">Mayor cantidad de votos</option>
                <option value="popularity.desc">Popularidad</option>
                <option value="first_air_date.desc">Primera vez al aire</option>
              </select>
  
              <label for="año">Año de estreno:</label>
              <input type="number" name="año" value="" placeholder="2019">
  
              <button class="uk-button uk-button-default uk-modal-close" type="Cancel">Cancelar</button>
              <button class="uk-button uk-button-primary" type="Search">Buscar</button>
            </form>
          </div>
        </div>
  
        <!-- MOdal del usuario ESTO SE AGREGO SOLO A LA PARTE DE GENEROS ASI QUE TENGO QUE HACER UN PARTIAS PARA EL HEADER SOLO -->
        <a id="corazón" href="/favoritos"><img src="/images/corazon.png" alt=""> </a>
        <a id="a_usuario" href="#modal-usuario" uk-toggle><img src="/images/usuario.png" alt=""> </a>
        <div class="logedIn">
          <p id="p_nombre"></p>
          <button id="logOut"type="button" name="button">Log Out</button>
        </div>
        <div id="modal-usuario" uk-modal>
          <div id="modal_usuario" class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">Ingrese sus datos</h2>
            <form class="LogIn" action="/index" method="get">   
          <div class="card-body">
              <form action="/signup" method="POST">
              <div>
                  <input type="text" name="fullname" placeholder="Full Name" class="form-control">
              </div>
              <div>
                  <input type="text" name="username" placeholder="Username" class="form-control">
              </div>
              <div>
                  <input type="email" name="email" placeholder="Email" class="form-control">
              </div>
              <div>
                  <input type="password" name="password" placeholder="Password" class="form-control">
              </div>
              <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="Cancel">Cancelar</button>
                <button class="uk-button uk-button-primary" type="submit">Sign Up</button>
              </p>
          </form>
          </div>
      </div>
  </div>
  <!--
              <label for="nombre">Nombre de usuario:</label>
              <input type="text" name="nombre" value="" placeholder="JuanPerez2004">
              <label for="">Correo electrónico:</label>
              <input type="text" name="email" value="" placeholder="juanperez@gmail.com">
              <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="Cancel">Cancelar</button>
                <button class="uk-button uk-button-primary" type="submit">Enviar</button>
              </p>
            </form>
          </div>
        </div>
  
      </div>
  -->
    </header>