<!DOCTYPE html>
<html lang="en">
    <body>
        <!--HEADER-->
    <%- include('./partials/head') %>
    <!-- ESTO LO TENGO QUE AGREGAR EN LAS SERIES-->
    <div class="container p-4">
       
        <div class="row">
            
            <div class="col-md-4">
                
                <div class="card">
                    <h3 class="text-justify text-center">Deje su resena aqui.</h3>
                    <div class="card-body"></div>
                    <form action="/info_serie/add" method="POST">
                        <div class="form-group">
                            <input type="text" name="title" class="form-control" placeholder="Title" autofocus>
                        </div>
                <div class="form-group">
                <textarea name="description" rows="2" class="form-control" placeholder="Description"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block">
                        Save
                    </button>
                </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
       <!-- FOOTER -->
  <%- include('./partials/footer') %>
</body>
</html>